
.filterPart{
    margin: auto;
    height: 60px;
    margin-top: 1.5%;
    width: 85%;
    /* border: 3px solid black; */
}

.caroDiv{
    width: 80%;
    margin: auto;
    height: 100px;
    border: 2px solid black;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.minicard{
    font-family: 'Lato', sans-serif;
    /* font-family: 'Pacifico', cursive; */
    margin-top: "20px";
}