

/* ----------------------------------- Home Page Styling ------------------------------------------------ */


.zomatoDiv{
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 99.8%;
    border: 1px solid rgb(0, 0, 0);
}

.zomatoLogo{
    margin: auto;
    height: 70px ;
    width: 20%;
    margin-top: 5%;
}

p{
    margin-top: 3%;
    font-size: 38px;
    text-align: center;
    font-weight: 400;
    color: white;
}

.searchBox{
    margin: auto;
    height: 70px ;
    width: 60%;
    margin-top: 3%;
}

#search{
    background-color: rgb(255, 251, 251);
    color: black;
    padding: 5px;
    border-radius: 9px;
}


/* ----------------------------------- Landing Page Styling ------------------------------------------------ */

.cardBox{
    margin-left: -10%;
    display: flex;
    width: 130%;
    height: 300px;
    margin-top: 22%;
    justify-content: space-between;
}

.cardBox>div{
    width: 30%;
    height: 300px;
    border-radius: 12px;
    border: 1px solid rgb(192, 190, 190)
}

.cardBox :hover{
    transform: scale(1.03);
}

.cardBox>div>img{
    height: 190px;
    border-radius: 12px;
}

.cardBox>div>h1{
    margin-top: 2%;
    margin-left: 4%;
    font-size: 26px;
    font-weight: 500;
}

.cardBox>div>p{
    margin-top: 0%;
    font-size: 19px;
    font-weight: 400;
    color: black;
}