
/* ------------------------ Main Navbar ------------------------------------------- */


#navbar{
    background-color: rgb(105, 36, 1);
    position: fixed;
}

/* ------------------------ Zomato Navbar ------------------------------------------- */

.nav{
    height: 100px;
    width: 100%;
}